<html lang="en">
	<meta charset="UTF-8">
	<head>
		<link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css" />
		<title>{% block title %}Best To-do List Ever - HomePage{% endblock %}</title>
	</head>

	<body background = "{{ STATIC_URL }}/img/bg.jpg">
		<div class="login-card">
			<h1>Best To Do List Ever</h1>
			{% if user.is_authenticated %}
				<p>Hello, {{user.username}} </p>
				<a  href="/todos/" style="position: center;">Let's Go-To-Do</a>
			{% else %}
				<p>Hello, Guest </p>
				<a  href="/todos/" style="position: center;">Login Here</a>
			{% endif %}
			
		</div>
		<img src = "{{ STATIC_URL }}/img/SM.jpg" />
	</body>
</html>
